.header{
    height: 40vw;
    width: 100%;
    margin: 30px auto;
    background: url('close-up-street-food-neon-light.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    border-radius: 10px;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-content p{
    color: white;
    font-size: 1vw;
}

.header-content button{
    border: none;
    color: navy;
    font-weight: 500;
    padding: 1vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}


@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
       .header-content{
        max-width: 45%;
       }
}

@media (max-width:750px) {
       .header-content{
        max-width: 75%;
       }
       .header-content p{
        display: none;
       }
       .header-content button{
        padding: 1vw 4vw;
       }
       .header{
    height: 70vw;
    width: 100%;
   
    /* border-radius: 10px; */
}
}